<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.pds2.gallery.service.GalleryFileMapper">
 
 <insert id="insertgalleryFile" 
			parameterType="com.test.pds2.gallery.service.GalleryFile">
		INSERT INTO gallery_file
			(gallery_id
			,gallery_file_name
			,gallery_file_ext
			,gallery_file_type
			,gallery_file_size)
		VALUES
			(#{galleryId}
			,#{galleryFileName}
			,#{galleryFileExt}
			,#{galleryFileType}
			,#{galleryFileSize})
	</insert>	
	
	<delete id="">
		USE master;  
			GO  
		ALTER DATABASE AdventureWorks2012  
		REMOVE FILE test1dat4;  
			GO  	
	</delete>
</mapper>