<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.pds2.gallery.service.GalleryMapper">

	<select id="totalCountGallery" 
			resultType="Integer">
		SELECT COUNT(*) FROM gallery
	</select>	
	
	<select id="selectGalleryList"
			parameterType="java.util.Map"
			resultType="com.test.pds2.gallery.service.Gallery">
			SELECT
				gallery_id as galleryId
				,gallery_title as galleryTitle
				,gallery_content as galleryContent
			FROM gallery
			ORDER BY gallery_id DESC
			LIMIT #{beginRow}, #{pagePerRow}	
	</select>
	
	<insert id="insertGallery"
			parameterType="com.test.pds2.gallery.service.Gallery">
		<selectKey resultType="int" keyProperty="galleryId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
			
		INSERT INTO gallery
			(gallery_title
			,gallery_content)
		VALUES
			(#{galleryTitle}
			,#{galleryContent})
	</insert>
	
</mapper>