<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.pds2.article.service.ArticleMapper">
	
	<resultMap id="baseArticle" type="com.test.pds2.article.service.Article">
		<id column="article_id" property="articleId"/>
		<result column="article_title" property="articleTitle"/>
		<result column="article_content" property="articleContent"/>
		<collection property="articleFile" ofType="com.test.pds2.article.service.ArticleFile">
			<id property="articleFileId" column="article_file_id"/>
			<id property="articleId" column="article_id"/>
			<result property="articleFileName" column="article_file_name"/>
			<result property="articleFileExt" column="article_file_ext"/>
			<result property="articleFileType" column="article_file_type"/>
			<result property="articleFileSize" column="article_file_size"/>
		</collection>
	</resultMap>
	
	<select id="getArticleOne"
			parameterType="Integer"
			resultType="com.test.pds2.article.service.Article">
		SELECT
			article_id AS articleId
			,article_title AS articleTitle
			,article_content As articleContent
		FROM
			article
		WHERE
			article_id = #{articleId}
	
	</select>
	
	<select id="getDetailArticle"
			parameterType="Integer"
			resultType="com.test.pds2.article.service.Article"
			resultMap="baseArticle">
		SELECT
			article.article_id AS article_id
			,article.article_title AS article_title
			,article.article_content AS article_content
			,article_file.article_file_id AS article_file_id
			,article_file.article_file_name AS article_file_name
			,article_file.article_file_ext AS article_file_ext
			,article_file.article_file_type AS article_file_type
			,article_file.article_file_size AS article_file_size
		FROM
			article
			INNER JOIN
			article_file
		ON
			article.article_id = article_file.article_id
		WHERE
			article.article_id = #{articleId}
	</select>
	
	
	
	<select id="totalCountArticle"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			article
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('articleId')">
					WHERE article_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('articleTitle')">
					WHERE article_title = #{searchWord}
				</when>
				<when test="searchSelect.equals('articleContent')">
					WHERE article_content = #{searchWord}
				</when>
			</choose>
		</if>
	</select>
	
	<select id="getArticleList"
			parameterType="java.util.Map"
			resultType="com.test.pds2.article.service.Article">
		SELECT
			article_id AS articleId
			,article_title AS articleTitle
			,article_content AS articleContent
		FROM
			article
		<if test="!searchWord.equals('')">
			<choose>
				<when test="searchSelect.equals('articleId')">
					WHERE article_id = #{searchWord}
				</when>
				<when test="searchSelect.equals('articleTitle')">
					WHERE article_title = #{searchWord}
				</when>
				<when test="searchSelect.equals('articleContent')">
					WHERE article_content = #{searchWord}
				</when>
			</choose>
		</if>
		ORDER BY article_id DESC
		LIMIT #{beginRow}, #{pagePerRow}	
	</select>
	
	
	<insert id="insertArticle"
			parameterType="com.test.pds2.article.service.Article">
		<selectKey resultType="Integer"
					keyProperty="articleId"
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO article(
			article_title
			,article_content
		)
		VALUES(
			#{articleTitle}
			,#{articleContent}
		)
	</insert>
	
</mapper>

