<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.pds2.article.service.ArticleFileMapper">
	
	<select id="getCountArticleFile"
			parameterType="Integer"
			resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			article_file
		WHERE
			article_id = #{articleId}
	</select>
	
	<delete id="deleteArticleFileOne"
			parameterType="Integer">
		DELETE
		FROM
			article_file
		WHERE
			article_file_id = #{articleFileId}
	
	</delete>
	
	<insert id="insertArticleFile"
			parameterType="com.test.pds2.article.service.ArticleFile">
		INSERT INTO article_file(
			article_id
			,article_file_name
			,article_file_ext
			,article_file_type
			,article_file_size
		)
		VALUES(
			#{articleId}
			,#{articleFileName}
			,#{articleFileExt}
			,#{articleFileType}
			,#{articleFileSize}
		)	
	</insert>
	
</mapper>

