<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.pds2.board.service.BoardFileMapper">
	
	<select id="selectBoardFileListForDelete"
			parameterType="Integer"
			resultType="com.test.pds2.board.service.BoardFile">
		SELECT
			board_file_name AS boardFileName
			,board_file_ext AS boardFileExt
		FROM
			board_file
		WHERE
			board_id = #{boardId}
	</select>
	
	<delete id="deleteBoardFile"
			parameterType="Integer">
		DELETE FROM
			board_file
		WHERE
			board_id = #{boardId}
	</delete>
	
	<delete id="deleteBoardFileOne"
			parameterType="Integer">
		DELETE FROM
			board_file
		WHERE
			board_file_id = #{boardFileId}
	</delete>
	
	<insert id="insertBoardFile"
			parameterType="com.test.pds2.board.service.BoardFile">
		INSERT INTO board_file(
			board_id
			,board_file_name
			,board_file_ext
			,board_file_type
			,board_file_size
		)
		VALUES(
			#{boardId}
			,#{boardFileName}
			,#{boardFileExt}
			,#{boardFileType}
			,#{boardFileSize}
		)
	</insert>
	
</mapper>

