<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.pds2.resume.service.ResumeFileMapper">
	
	<insert id="insertResumeFile" parameterType="com.test.pds2.resume.service.ResumeFile">
		
		INSERT INTO resume_file
				(resume_file_id
				,resume_file_name
				,resume_file_ext
				,resume_file_type
				,resume_file_size
				,resume_id)
			VALUES 
				(NULL
				,#{resumeFileName}
				,#{resumeFileExt}
				,#{resumeFileType}
				,#{resumeFileSize}
				,#{resumeId})				
	</insert>

	<delete id="deleteResumeFile" parameterType="String">
		DELETE 
			FROM resume_file 
			WHERE resume_file_name=#{resumeFileName}
	</delete>
	
	<select id="selectResumeFile" parameterType="com.test.pds2.resume.service.Resume" resultType="com.test.pds2.resume.service.ResumeFile">
		select 
			resume_file_id as resumeFileId
			,resume_file_name as resumeFileName
			,resume_file_ext as resumeFileExt
			,resume_file_type as resumeFileType
			,resume_file_size as resumeFileSize
			,resume_id as resumeId
		 	from resume_file
		 	where resume_id = #{resumeId}
	 </select>
</mapper>